/* form submits */
.delete {
  background-color: #A20000;
  color: #FFF;
  margin: 2.5em 0 0;
  max-width: 6.25em;
  padding: 0;
  text-align: center;
}
.edit {
  background-color: #008081;
  color: #FFF;
  max-width: 6.25em;
}
.save {
  background-color: #629AD1;
  color: #FFF;
  margin-top: 1.25;
}

/* annotations */

.form-control:hover {
  background-color: #808080;
}
.img-responsive {
  max-height: 16em;
  width: auto;
}
.label {
  margin-left: 0.25em;
  padding: 0.5em 0.5em 0.125em;
}
.label-wrap {
  margin: 0.35em 0;
}
.navbar-form .form-control {
  max-width: 100%;
  margin-left: 0.5em;
  width: 25em;
}
.quote {
  background-color: rgba(255, 255, 0, 0.3);
  border-radius: 0.25em;
  padding: 0.125em 0.25em;
}
.text {
  background-color: #DDD;
  border-radius: 0.25em;
  font-family: Consolas, monaco, monospace;
  font-size: .8em;
  padding: 0.125em 0.25em;
}
